name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: asdf-vm/actions/install@v4
      - run: scripts/lint.bash
      - name: Check workflow files
        uses: docker://rhysd/actionlint:1.7.8
        with:
          args: -color
